.page-not-found-page .container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-weight: bolder;
}

.page-not-found-page .container a {
	color: #111;
}
